.rating {
  padding: 2px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 35px;
  position: absolute;
  left: 5px;
  bottom: 80px;
}
.rating1 {
  padding: 2px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 35px;
  position: absolute;
  left: 5px;
  bottom: 60px;
}
.rating2 {
  padding: 2px;
  background-color: rgb(8, 5, 34);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 35px;
}
